<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
           version="3.1">
    
    <servlet>
        <servlet-name>first</servlet-name>
        <servlet-class>FirstServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>first</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>RequestLoggingFilter</filter-name> <!-- mandatory -->
        <filter-class>com.journaldev.servlet.filters.RequestLoggingFilter</filter-class> <!-- mandatory -->
        <init-param> <!-- optional -->
            <param-name>test</param-name>
            <param-value>testValue</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>RequestLoggingFilter</filter-name> <!-- mandatory -->
        <url-pattern>/*</url-pattern> <!-- either url-pattern or servlet-name is mandatory -->
        <servlet-name>LoginServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

</web-app>
